* {
  font-family: "Noto Sans JP", sans-serif;
  text-transform: capitalize;
  /* border:2px solid white ; */
}

body {
  background-color: black;
}

/* basec colors
		* 
		1: background-color: #d63031;
		2:  color: #ffa801;
		*/

/*   <!-- -------------------------  Start of NAv --------------------- --> */


.header a {
  color: #f8f9fa;
}
.header .navbar {
  background-color: #d63031;
}

.header .navbar a {
  margin-right: 50%;
}

.header .navbar .navbar-nav .nav-item a {
  font-size: 19px;
  padding: 0 20px;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler i {
  font-size: 30px;
}

.navbar span i {
  color: #fff;
}

@media (max-width: 991px) {
  .header .navbar .navbar-nav .nav-item a {
    padding: 6px 0px;
  }
}
/*   <!-- -------------------------  End  of NAv --------------------- --> */

.home_img {
  margin-right: -4px;
  margin-top: 49px;
}
.img_1 {
  height: 415px;
  padding: 0px;
}

.img_2 {
  height: 415px;
  padding: 0px;
}

.home_img div {
  background-color: #d63031;
  font-size: 16px;
  height: 415px;
}

.home_img p {
  text-align: center;
  padding-top: 50px;
  color: #fdcb6e;
}

.home_img p i {
  color: #ffa801;
  font-size: 25px;
}

/* food menu style */
/* food menu style */

.food_menu {
  text-align: center;
  font-size: 17px;
  margin-top: 11px;
}

.food_menu_text1,
.food_menu_text2 {
  color: white;
}

.food_menu i {
  font-size: 90px;
  padding-top: 40px;
  color: #ffa801;
}

.food_menu h1 {
  padding-top: 10px;
}

/* style of background_img_with_text*/

.background_img_with_text {
  background-image: url("../index/img/19.jpg");
  height: 600px;
  background-size: 100% 750px;
  background-repeat: no-repeat;
  margin-top: 24px;
}

.background_img_with_text div {
  text-align: center;
  font-size: 60px;
  color: white;
}
.background_img_with_text i {
  font-size: 90px;
  padding-top: 10%;
  padding-bottom: 10px;
}

/*-----------------------------   srart of personal_comment -----------------------*/

.personal_comment {
  margin-bottom: 50px;
}

.personal_comment p {
  border: 2px solid #ffa801;
  border-radius: 50%;
  width: 185px;
  height: 178px;
  margin: 5% 0% 3% 46%;
  background-image: url(../index/img/5.jpg);
  background-size: 189px 179px;
  background-repeat: no-repeat;
}

.personal_comment div {
  text-align: center;
  font-size: 20px;
  color: white;
}
.personal_comment h3 {
  color: #ffa801;
}

/*-----------------------------   end of personal_comment -----------------------*/

/*  ----------------------   style of CHECKOUT_MENU ---------------------  */

.CHECKOUT_MENU {
  background-color: #d63031;
  margin-right: 0px;
}

.CHECKOUT_MENU_text1 {
  font-size: 18px;
  color: white;
  margin-top: 70px;
  border-right: dotted;
  margin-bottom: 70px;
}

.CHECKOUT_MENU_text2 {
  border: none;
}

.CHECKOUT_MENU p {
  padding: 15px;
}

.CHECKOUT_MENU h1 {
  font-size: 37px;
  color: #ffa801;
  text-align: center;
}

.CHECKOUT_MENU h3 {
  text-align: center;
  font-size: 30px;
}

/*  ----------------------   End of CHECKOUT_MENU ---------------------  */

/* <!-- ======================= Start of footer ===========================  -->	 */

.contaner {
  background-color: #d63031;
  color: #fff;
  margin-right: 0px;
}

.contaner_1 {
  font-size: 15px;
  margin-top: 40px;
}

.contaner_1 td,
h3 {
  padding-left: 30px;
}

.contaner_1 h3 {
  margin-top: 48px;
  font-size: 23px;
}

.contaner_1 table th {
  padding-bottom: 30px;
  padding-right: 16px;
  font-size: 26px;
  padding-left: 30px;
}

.contaner_1 td {
  padding-top: 10px;
}

.contaner_2 {
  font-size: 15px;
  margin-top: 45px;
}

.contaner_2 p {
  padding-top: 18px;
}

.contaner_2 i {
  color: #ffa801;
  padding-right: 18px;
}

.contaner_2 h2 {
  font-size: 20px;
  padding-top: 4px;
}

.contaner_3 {
  margin-top: 40px;
}
.contaner_3 input {
  text-align: center;
  margin-top: 10px;
  width: 75%;
}

.contaner_3 form .submit {
  background-color: #ffa801;
  width: 210px;
  font-size: 20px;
}

.contaner_3 form .email {
  padding-left: 10px;
}

.footer {
  background-color: #d63031;
  border-top: 6px dotted white;
  margin-left: 4px;
}

.footer h6 {
  color: white;
}

.footer div a {
  margin-right: 72px;
  font-size: 18px;
  color: #e9ecef;
}

/* <!-- ======================= end of footer ===========================  -->	 */

/* ---------------------------  strat of food_icons ------------------------------- */
.food_icons {
  text-align: center;
  color: #fff;
}
.food_icons img {
  width: 58%;
}

.food_icons div {
  font-size: 18px;
  margin-top: 53px;
  margin-bottom: 53px;
}

.food_icons h2 {
  color: #ffc107;
  font-size: 68px;
}

/* ---------------------------  End of food_icons ------------------------------- */

/*======================================  style for mobil  ===================================*/

@media only screen and (max-width: 800px) {
  .menu {
    argin-top: 15px;
    font-size: 13px;
  }

  .menu ul li {
    padding-left: 0%;
  }

  .img_2 {
    height: 270px;
  }
  .home_img div {
    padding-left: 30px;
    height: 442px;
  }
  .food_menu i {
    font-size: 81px;
  }

  /* <!--    ========================  Start background_img_with_text  ============================== --> */

  .background_img_with_text {
    background-size: 100% 265px;
    height: 275px;
  }
  .background_img_with_text i {
    font-size: 37px;
    padding-top: 26%;
  }
  .background_img_with_text div {
    font-size: 18px;
  }

  /* <!--    ========================  End background_img_with_text  ============================== --> */

  .food_icons img {
    width: 48%;
  }

  .food_icons h2 {
    font-size: 50px;
  }

  /* <!--    ========================  Start CHECKOUT_MENU  ============================== --> */
  .CHECKOUT_MENU_text1 {
    border: none;
    margin-bottom: 12px;
  }

  .CHECKOUT_MENU h3 {
    font-size: 23px;
  }

  /* <!--    ========================  Start CHECKOUT_MENU  ============================== --> */

  /* -----------------------  Start of footer ---------------------- */
  .contaner_1 td,
  h3 {
    padding-left: 0px;
  }

  .personal_comment p {
    margin: 4% 0% 3% 37%;
    width: 92px;
    height: 69px;
    background-size: 88px 73px;
  }

  .personal_comment div {
    font-size: 9px;
  }

  .contaner_1 table th {
    padding-right: 78px;
    font-size: 19px;
    padding-left: 3px;
  }

  .contaner_1 h3 {
    margin-top: 17px;
    font-size: 22px;
  }

  .contaner_2 {
    padding-left: 19px;
    font-size: 15px;
    margin-top: 55px;
  }

  .contaner_3 {
    padding-left: 13px;
  }

  .contaner_3 input {
    width: 100%;
    font-size: 22px;
    height: 58px;
  }
  .contaner_3 form .submit {
    width: 100%;
    font-size: 35px;
    height: 58px;
    margin-bottom: 19px;
  }

  .footer {
    margin-top: -1px;
  }
  .footer h6 {
    font-size: 20px;
  }

  .footer div a {
    margin-right: 78px;
  }
  /* -----------------------  End of footer ---------------------- */
}

/*///////////////////////////   style for computer*/
/*///////////////////////////   style for computer*/

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
}
