* {
  font-family: "Noto Sans JP", sans-serif;
  text-transform: capitalize;
}

body {
  background-color: black;
}

/*   <!-- -------------------------  Start of NAv --------------------- --> */
.header a {
  color: #f8f9fa;
}
.header .navbar {
  background-color: #d63031;
}

.header .navbar a {
  margin-right: 50%;
}

.header .navbar .navbar-nav .nav-item a {
  font-size: 19px;
  padding: 0 20px;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler i {
  font-size: 30px;
}

.navbar span i {
  color: #fff;
}

@media (max-width: 991px) {
  .header .navbar .navbar-nav .nav-item a {
    padding: 6px 0px;
  }
}

/*   <!-- -------------------------  End  of NAv --------------------- --> */

/*   <!-- -------------------------  Start of img_home --------------------- -->  */

.img_home {
  background-image: url(../index/img/0028.jpg);
  background-size: 100% 550px;
  margin-top: 47px;
}

.img_home h6 {
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 188px;
}
/*   <!-- -------------------------  End of img_home --------------------- -->  */

/*  ----------------------   style of CHECKOUT_MENU ---------------------  */

.CHECKOUT_MENU {
  color: #fff;
  margin-right: 0px;
}

.CHECKOUT_MENU_text1 {
  font-size: 18px;
  color: white;
  margin-top: 70px;
  border-right: 5px #bd2130 dotted;

  margin-bottom: 70px;
}
.CHECKOUT_MENU_text2 {
  border: none;
}
.CHECKOUT_MENU p {
  padding: 15px;
}

.CHECKOUT_MENU h1 {
  font-size: 37px;
  color: #ffa801;
  text-align: center;
}

.CHECKOUT_MENU h3 {
  text-align: center;
  font-size: 30px;
}

/*  ----------------------   End of CHECKOUT_MENU ---------------------  */

/*///-------------------   start of   background_img_with_text  -------------------------*/
.background_img_with_text {
  background-image: url("../index/img/19.jpg");
  height: 550px;
  background-size: 100% 700px;
  background-repeat: no-repeat;
}

.background_img_with_text div {
  text-align: center;
  font-size: 60px;
  color: white;
}

.background_img_with_text i {
  text-align: center;
  font-size: 80px;
  color: white;
  padding-top: 10%;
  padding-bottom: 10px;
  padding-left: 50%;
}

/*///-------------------   end of   background_img_with_text  -------------------------*/

/* ===============================  start of CHECKOUT_MENU_PRICE =========================== */
.CHECKOUT_MENU_PRICE {
  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
}

.CHECKOUT_MENU_PRICE img {
  width: 180px;
  height: 160px;
}

.CHECKOUT_MENU_PRICE_1 {
  color: white;
  width: 420px; /*375px*/
  border-right: 4px dotted #d63031;
}

.CHECKOUT_MENU_PRICE_1 h6 {
  font-size: 25px;
  margin-top: 10px;
}

.CHECKOUT_MENU_PRICE_1 p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.CHECKOUT_MENU_PRICE_1 input {
  width: 200px;
  background-color: #ffa801;
  margin-left: 52px;
  margin-top: 20px;
  font-size: 30px;
}

.CHECKOUT_MENU_PRICE_2 {
  border: none;
}

/* ===============================  Emd of CHECKOUT_MENU_PRICE =========================== */

/* <!-- ======================= Start of footer ===========================  -->	 */

.contaner {
  background-color: #d63031;
  color: #fff;
  margin-right: 0px;
}

.contaner_1 {
  font-size: 15px;
  margin-top: 40px;
}

.contaner_1 td,
h3 {
  padding-left: 30px;
}

.contaner_1 h3 {
  margin-top: 48px;
  font-size: 23px;
}

.contaner_1 table th {
  padding-bottom: 30px;
  padding-right: 16px;
  font-size: 26px;
  padding-left: 30px;
}

.contaner_1 td {
  padding-top: 10px;
}

.contaner_2 {
  font-size: 15px;
  margin-top: 45px;
}

.contaner_2 p {
  padding-top: 18px;
}

.contaner_2 i {
  color: #ffa801;
  padding-right: 18px;
}

.contaner_2 h2 {
  font-size: 20px;
  padding-top: 4px;
}

.contaner_3 {
  margin-top: 40px;
}
.contaner_3 input {
  text-align: center;
  margin-top: 10px;
  width: 75%;
}

.contaner_3 form .submit {
  background-color: #ffa801;
  width: 210px;
  font-size: 20px;
}

.contaner_3 form .email {
  padding-left: 10px;
}

.footer {
  background-color: #d63031;
  border-top: 6px dotted white;
  margin-left: 4px;
}

.footer h6 {
  color: white;
}

.footer div a {
  margin-right: 72px;
  font-size: 18px;
  color: #e9ecef;
}

/* <!-- ======================= end of footer ===========================  -->	 */

/*///==========================   style for mobil    ==================================  */

@media only screen and (max-width: 800px) {
  /* <!--    ========================  Start CHECKOUT_MENU  ============================== --> */
  .CHECKOUT_MENU_text1 {
    border: none;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .CHECKOUT_MENU h3 {
    font-size: 23px;
    text-align: left;
  }

  /* <!--    ========================  Start CHECKOUT_MENU  ============================== --> */

  /* <!--    ========================  Start img_home  ============================== --> */
  .img_home {
    background-size: 100% 298px;
  }

  .img_home h6 {
    font-size: 42px;
    padding: 103px;
  }
  /* <!--    ========================  End img_home  ============================== --> */

  /* <!--    ========================  Start background_img_with_text  ============================== --> */

  .background_img_with_text {
    background-size: 100% 265px;
    height: 275px;
  }
  .background_img_with_text i {
    font-size: 37px;
    padding-top: 26%;
    padding-left: 44%;
  }
  .background_img_with_text div {
    font-size: 18px;
  }

  /* <!--    ========================  End background_img_with_text  ============================== --> */

  .CHECKOUT_MENU_PRICE_1 {
    border: none;
  }

  .CHECKOUT_MENU_PRICE_2 {
    margin-top: 49px;
  }

  .CHECKOUT_MENU_PRICE_1 input {
    width: 250px;
    margin-left: 42px;
  }
  /* -----------------------  Start of footer ---------------------- */

  .contaner_1 td,
  h3 {
    padding-left: 0px;
  }
  .contaner_1 table th {
    padding-right: 78px;
    font-size: 19px;
    padding-left: 3px;
  }

  .contaner_1 h3 {
    margin-top: 17px;
    font-size: 22px;
  }

  .contaner_2 {
    padding-left: 19px;
    font-size: 15px;
    margin-top: 55px;
  }

  .contaner_3 {
    padding-left: 13px;
  }

  .contaner_3 input {
    width: 100%;
    font-size: 22px;
    height: 58px;
  }
  .contaner_3 form .submit {
    width: 100%;
    font-size: 35px;
    height: 58px;
    margin-bottom: 19px;
  }

  .footer {
    margin-top: -1px;
  }

  .footer h6 {
    font-size: 20px;
  }

  .footer div a {
    margin-right: 78px;
  }
  /* -----------------------  End of footer ---------------------- */

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
  }
}

/*//===========================  style for computer     =============================  */

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
}
